.main-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10;
    align-items: center;
    margin: 0;
  }

  .mobile-header {
    height: 72px;
    width: 100%;
    background-color: #3c3a39;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  