html {
  /* margin: 0; */
  box-sizing: border-box;
}

body {
  margin: 0;
  /* padding: 0; */
}

.main-container {
  /* display: grid;
  grid-template-columns: auto; */
  /* align-items: center; */
  /* width: 100%; */
  /* margin: 0; */
}

.mobile-header {
  height: 92px;
  width: 100%;
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .mobile-header {
    height: 77px;
  }
}

#name {
  font-size: 24px;
  font-weight: 700;
  color: white;
  padding: 0 24px 0 24px;
  text-decoration: none;
  min-width: 200px;
  transition: font-size 2s;
}

@media (min-width: 768px) {
  #name {
    margin-left: 150px;
  }
}

#name:hover {
  font-size: 36px;
}

.boton {
  background-color: #3c3a39;
  border: none;
  border: 5px solid #3c3a39;
}

@media (min-width: 768px) {
  .boton {
    display: none;
  }
}

.boton:hover {
  border: 5px solid grey;
}

.menu {
  display: none;
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    margin-right: 150px;
  }
}

li {
  list-style: none;
}

@media (min-width: 768px) {
  .options {
    margin: 0 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    padding: 8px;
    border-radius: 20%;
    transition: color 1s, font-size 1s, background-color 1s;
  }
}

@media (min-width: 768px) {
  .options:hover {
    color: #3c3a39;
    font-size: 18px;
    background-color: #fff;
  }
}

.img0:hover {
  transition: 1s;
  transform: scale(1.25);
}

.first-container {
  height: 660px;
  width: 100%;
  background-image: url("images/background.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 24px 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .first-container {
    padding: 0;
    height: 660px;
    background-color: #1c1a19;
    background-image: url("images/background-desktop.png");
    background-repeat: no-repeat;
    flex-direction: row-reverse;
    align-items: center;
  }
}

#greeting {
  color: #ff6b00;
  font-size: 56px;
  font-weight: 400;
  margin: 5px 0;
}

#whoami {
  color: #fff5e1;
  font-size: 24px;
  font-weight: 700;
  margin: 5px 0;
}

#par1 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0 10px 0;
}

@media (min-width: 768px) {
  #par1 {
    width: 50%;
  }
}

.images1 {
  margin: 0;
  padding: 0;
  display: flex;
}

@media (min-width: 768px) {
  .images1 {
    flex-direction: column;
    padding: 0 64px 0 56px;
  }
}

.img1 {
  height: 35px;
  width: 35px;
  padding: 6px;
  transition: height 1s, width 1s;
}

.img1:hover {
  height: 50px;
  width: 50px;
}

